{% extends "layout.html" %}

{% block title %}
    Success!
{% endblock %}

{% block body %}
    <h1>Search</h1>
    <form :action="{{ url_for('success') }}" method="post">
	    <div>
		    <input type="text" name="name" placeholder="enter the name">
		    <button class="btn btn-primary">find book</button>
	    </div>
    </form>

    <p>{{ massage }}</p>

    <ul>
        {% for book in books %}
	<li>ISBN:{{ book.isbn }}   NAME:{{book.title}}   AUTHOR:{{book.author}}   YEAR:{{book.year}}</li>
        {% endfor %}
    </ul>


{% endblock %}
